/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Full-height and full-width body */
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    background-color: #0d0d0d;
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    width: 100%;
    height: 100%;
}
